:root { 
--gray_50_01:#fafafa; 
--gray_50_02:#fcfcfc; 
--gray_100_a2:#f6f5f6a2; 
--deep_orange_50_83:#ffe8e883; 
--blue_300_87:#5b9eff87; 
--blue_300_01:#6da5f7; 
--gray_800_01:#6f4439; 
--indigo_50_01:#e8e8ff; 
--deep_orange_300:#ff9a6c; 
--gray_200_01:#eaeaea; 
--light_blue_A700:#0177fb; 
--blue_gray_900_01:#263238; 
--blue_gray_700:#455a64; 
--gray_200_02:#ececec; 
--blue_gray_900:#333333; 
--red_A700:#ff0000; 
--gray_200_03:#efefef; 
--gray_200_04:#e8e8e8; 
--gray_400:#b5b5b5; 
--gray_100_a2_01:#f7f6f7a2; 
--blue_gray_100:#d9d9d9; 
--blue_gray_300:#9d9bc0; 
--lime_700:#c29625; 
--gray_800:#3a3a3a; 
--red_A200:#ff5353; 
--blue_50_a2:#edf4fea2; 
--gray_200:#f0f0f0; 
--gray_100_07:#f3f3f3; 
--gray_100_06:#f4f4f4; 
--blue_50:#daeaff; 
--gray_100_03:#fdf3f3; 
--indigo_400:#5784c6; 
--gray_100_02:#f6f6f6; 
--gray_100_05:#eff4fd; 
--gray_100_04:#eff3f9; 
--gray_400_01:#bdbdbd; 
--gray_100_01:#f5f5f5; 
--blue_300:#5b9eff; 
--cyan_50:#d6f6fc; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_700_01:#595959; 
--deep_orange_50:#ffe0db; 
--green_200:#9bc0b3; 
--blue_A700:#0066ff; 
--red_900:#93091a; 
--blue_50_99:#e6f0ff99; 
--blue_A100:#73abff; 
--red_300:#ae7461; 
--red_500:#ff3535; 
--green_600:#54934b; 
--gray_50:#f6f8ff; 
--red_50:#ffeaea; 
--black_900:#000000; 
--gray_500_01:#a7a7a7; 
--deep_orange_200:#ffbf9d; 
--red_300_02:#bf8978; 
--gray_700:#63696b; 
--gray_500_6c:#9e9e9e6c; 
--lime_400:#d5d75f; 
--indigo_400_01:#5188d8; 
--gray_500:#9e9e9e; 
--blue_800:#185dc1; 
--indigo_50:#e1e8f4; 
--deep_orange_300_01:#ff725e; 
--amber_600:#ffb400; 
--white_A700_a2:#ffffffa2; 
--red_300_01:#bf8877; 
--lime_400_01:#d5d85f; 
--teal_50:#d5ffea; 
--gray_300:#e0e0e0; 
--gray_100:#eff3f8; 
--gray_50_a2:#f9f8f9a2; 
--orange_50:#fff5dd; 
--light_green_50:#eaffe7; 
--gray_200_79:#eae9ea79; 
--gray_800_6c:#3a3a3a6c; 
}