
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PromptMedium.ttf"); font-family : "Prompt"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PromptSemiBold.ttf"); font-family : "Prompt"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/PromptRegular.ttf"); font-family : "Prompt"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratMedium.ttf"); font-family : "Montserrat"; font-weight : 500;  }